ul {
    list-style-type: none;
}
li {
    list-style-type: none;
}
/* TOP LİNE */
.top-line {
    height: 72px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    display: flex;
    width: 1440px;
    border-top: 1px;
}
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-bar-container-div {
    display: flex;
    width: 153px;
    height: 24px;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.span {
    color: #2e2f42;
}
.link {
    color:#2e2f42;
    padding: 24px 0;    
    position: relative;
}
.link-studio {
    color: #404bbf;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;      
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}
.top-line-ul {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;
    gap: 40px;
    display: flex;
    flex-direction: row;
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.adress-maill:hover,
.adress-mail:focus {
    color: #404bbf;
}
.adress-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    line-height: 1.5;
    font-size: 16px;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.adress-mail::after::before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.address-container {
    font-style: normal;
    padding-left: 280px;
    flex-direction: row;
    display: flex;
    margin-left: auto;
}
.address-list-ul {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
}
/* HERO İMAGE */
.hero-image {
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
    background-size: cover;
    background-color: #2e2f42;
    text-align: center;
    margin: 0 auto;
    padding: 188px 0;
    color: #ffffff;
    height: 600px;
    line-height: 600px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-underline-position: from-font;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg)
}
.hero-image-title {
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto 20px auto;
    text-align: center;
    font-weight: 700px;
    width: 496px;
    height: 120px;
}
.hero-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-image-container .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-image-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-image-button:hover,
.hero-image-button:focus {
    background-color: #404bbf;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* SECTİON ONE */
.section-one {
    padding-top: 120px;
}
.section-one-li-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}
.section-one-li {
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99; */
    width: calc((100% - 72px) / 4);
    flex-basis: calc((100% - 72px) / 4);

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-one-ul {
    display: flex;
    gap: 24px;
}

.section-one-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
}

.section-one-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* SECTİON TWO */
.section-two {
    background-color: #f4f4fd;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding: 120px 0;
}
.section-two-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
    text-align: center;
}
.section-two-li-div {
    /* padding: 32px 0; */
}
.section-two-ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    /* justify-content: center; */
}  
.section-two-li:hover,
.section-two-li:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}
.section-two-li{
    width: calc((100% - 72px) / 4);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 
                 0px 1px 1px rgba(46, 47, 66, 0.16),
                 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.section-two-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-media-button-ul {
    display: flex;
    justify-content:center;
    gap: 24px;
}
.social-media-button-li-one {
    width: 40px;
    height: 40px;
}
.social-media-button-li {
    width: 40px;
    height: 40px;
}

.social-media-button {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-button:hover,
.social-media-button:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-svg {   
    fill: #f4f4fd
}
/* SECTİON THREE */
.section-three {
    padding: 120px 0;
    /* padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 72px; */
}

.section-three-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.section-three-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    /* flex-direction: row;
    justify-content: center;
    gap: 24px; */
}

.section-three-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4,0,0.2,1);
}
.section-three-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.section-three-img-text-container {
    width: 360px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.section-three-text-long {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
.section-three-text-long:hover {
    transform: translateY(0%);
}
.section-three-title-div {    
    padding: 32px 16px;
    border: 1px solid#e7e9fc;
    border-top: none;    
}
.section-three-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;    
}

.section-three-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    /* transform: translateY(100%); */
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding-top: 100px 0;
    /* padding-bottom: 100px; */
}

.footer-container {
    display: flex;
    align-items: baseline;
    /* margin-right: 120px; */
}

.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.footer-social-media-svg {
    fill: #f4f4fd;
}

.footer-social-media-ul {
    display: flex;
    gap: 16px;
    /* width: 208px; */
    /* height: 40px; */
}
.footer-social-media-button-li {
    width: 40px;
    height: 40px;
}

.footer-logo-text-container {
    margin-right: 120px;
}

.footer-text {
    /* font-weight: 500;
    font-size: 16px; */
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.span-footer {
    color: #f4f4fd;
}

#footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
    /* display: inline-block; */
    /* margin-bottom: 16px; */
}
.footer-social-media-button-href {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-media-button-href:hover {
    background-color: #31d0aa;
}
.footer-social-media-button-href:focus {
    background-color: #31d0aa;
}
.footer-subscribe {
    margin-left: 60px;
}
.text-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.form-subscribe {
    display: flex;
    gap: 24px;
}
.form-subscribe-input {
    width: 264px;
    height: 40px;
    border:1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}
.form-subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-subscribe-button-svg {
    margin-left: 16px;
}
.modal-window {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}
.modal-container-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container-button:hover {
    background-color: #404bbf;
    border: none;
}
.modal-container-button:focus {
    border: none;
    background-color: #404bbf;
}
.modal-container-button-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #e7e9fc;
}
.modal-container-button:hover .modal-container-button-svg,
.modal-container-button:focus .modal-container-button-svg {
    fill: #ffffff;
}
.modal-container-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.32px;
    color: #2E2F42;
    margin-bottom: 16px;
}
.modal-container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-container-form-div{
    margin-bottom: 8px;
}
.modal-container-form-div-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-style: normal;
}
.modal-container-form-label-div {
    position: relative;
}
.modal-container-form-label-div-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container-form-label-div-input:focus {
    border-color: #4D5AE5;
}
.modal-container-form-label-div-input-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container-form-label-div-input <:focus .modal-container-form-label-div-input-svg {
    fill: #4D5AE5;
}
.modal-container-form-div-label-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container-form-div-label-textarea:focus{
    border-color: #4D5AE5;
}

.modal-container-form-checkbox {
    margin-bottom: 24px;
}
.modal-container-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.modal-container-form-checkbox-label-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 5px;
}
.form-label-link {
    color: #4d5ae5;
}

.form-checkbox-input:checked .modal-container-form-checkbox-label-span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-policy {
    color: #4d5ae5;
}
.modal-container-form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
